/* UC1 */
body{
    margin: 0;
    height: 100%;
}
.header{
    padding: 15px 0;
    background-color: #c4d489;
}
.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid rgb(57, 161, 57);
}
.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid rgb(60, 156, 60);
    width: 80%;
}
.logo-content-img{
    border: solid 1px #42515f;
}
.emp-text{
    font: normal normal bold 20px/25px Montserrat;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
    color: #82a70c;
    text-transform: capitalize;
}
.emp-payroll{
    color: #42515f;
}
*{
    box-sizing: border-box;
}
/* UC2 */
.form-content{
    min-height: calc(100% - 80px);
    background-color: #a4be86;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(20, 83, 20);
}
.form{
    width: 65%;
    padding: 44px 60px;
    background: #4ab488 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #922929;
    border-radius: 12px;
    opacity: 1;
}
.form-head{
    font: normal normal bold 24px/37px Roboto;
    letter-spacing: 0px;
    color: #a32874;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 20px;
}
.row-content{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    border: 0px solid rgb(112, 170, 112);
}
.label{
    min-width: 140px;
}
label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.text{
    font-size: 16px;
    color: #18170f;
    opacity: 1;
    font-family: Roboto;
}
.input{
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(122, 65, 65);
    border-radius: 6px;
    resize: vertical;
}
/* UC3 */
.profile-radio-content{
    display: flex;
    flex-direction: row;
}
.profile-radio-content > label{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile{
    width: 40px;
    border-radius: 50%;
    margin-left: 12px;
}
/* UC-5 */
select{
    padding: 14px;
    border: 2px solid rgb(31, 139, 143);
    border-radius: 6px;
    resize: vertical;
    font: normal normal normal 16px Roboto;
    letter-spacing: 1px;
    color: #10130a;
    background-color: transparent;
}
/* UC 6 */
.buttonParent{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 20px;
}
.button{
    font-size: 20px;
    font-family: Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
    background: transparent;
    border: none;
    font-weight: 400;
    min-width: 140px;
    padding: 7px 7px;
    border: 2px solid #045819;
    cursor: pointer;
}
.button:hover{
    color: #7770d8;
    background-color: #9ad48d;
}
.submitButton:hover{
    background-color: #29c951;
}
.submitButton{
    border: 2px;
    background-color: #ac89aa;
    margin-right: 30px;
}
.cancelButton{
    text-decoration: none;
    text-align: center;
}
@media only screen and (max-width: 960px){
    .cancelButton{
        margin-left: 0px;
    }
    .form{
        width: 85%;
        padding: 44px 20px;
    }
}
@media only screen and (max-width: 600px) {
    .form{
        margin-top: 10px;
    }
    .row{
        flex-direction: column;
    }
    .uploadButton{
        justify-content: flex-start;
    }
    .profile-radio-button{
        flex-flow: wrap;
    }
    .submit-reset{
        width: 100%;
        display: flex;
        flex-grow: 1;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .submitButton{
        margin: 0;
    }
    .buttonParent{
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}